<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-in"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-img [src]="user?.avatar | async " alt="User Avatar"></ion-img>
          <ion-card-content *ngIf="canEditProfile()">
            <ion-button (click)="navigateToEdit(user?.id)" expand="block" fill="clear" shape="round">
              Open Edit Page
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col size='12'>
            Full name: {{ user?.firstName || '' }} {{ user?.lastName || '' }}
          </ion-col>
          <ion-col size='12'>
            Email: {{ user?.email || '' }}
          </ion-col>
          <ion-col size='12'>
            Role: {{ user?.role }}
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- <ion-col size="12">
        <ion-list padding>
          <ion-item>
            <ion-icon slot="start" name="moon"></ion-icon>
            Dark mode 
            <ion-toggle (ionChange)="update($event)" slot="end" color="primary"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-col> -->
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
        <div class="row">
          <div class="col-6 col-sm-3 text-center">
            <h4 class="m-0">{{ statistics?.posts || 0 }}</h4>
            <span class="text-light text-uppercase">{{ 'Posts' }}</span>
          </div>
          <div class="col-6 col-sm-3 text-center">
            <h4 class="m-0">{{ statistics?.publishedPosts || 0 }}%</h4>
            <span class="text-light text-uppercase">{{ 'Published' }}</span>
          </div>
          <div class="col-6 col-sm-3 text-center">
            <h4 class="m-0">{{ statistics?.comments || 0 }}</h4>
            <span class="text-light text-uppercase">{{ 'Comments' }}</span>
          </div>
          <div class="col-6 col-sm-3 text-center">
            <h4 class="m-0">{{ statistics?.pages || 0 }}</h4>
            <span class="text-light text-uppercase">{{ 'Pages' }}</span>
          </div>
        </div>
      </ion-col>
    </ion-row> -->
    <!-- <div *ngIf="latestPosts | async as posts">
      <ion-row *ngFor="let post of posts">
        <ion-card>
          <img [src]="post.image.url | async">
        </ion-card>
        <ion-col size='12'>
          post title: {{ post.title }}
          post slug: {{ '/' + post.slug }}
        </ion-col>
        <ion-col size='12'>
          Post date: {{ post.date }}
        </ion-col>
        <ion-col size='12'>
          Status:
          <ion-text color="{{ allPostsStatus.colors[post.status] }}">
            {{ allPostsStatus.labels[post.status] }}
          </ion-text>
        </ion-col>
        <ion-col size='12' *ngFor="let categoryId of post.categories; let i = index">
          Category: {{ allPostsCategories[categoryId]?.label }}
        </ion-col>
      </ion-row>
    </div> -->
  </ion-grid>
</ion-content>