<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-in"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="presentModal()" expand="block" fill="clear" shape="round">
          Open Details Modal
        </ion-button>
        <div class="masonry bordered">
          <div class="brick" *ngFor="let post of allPosts | async">
            <img [src]="post.image.url | async ">
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>