<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-in"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style='display: none;'>
      <ion-col size="12">
        {{ allPosts | async }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <gallery id="basic" fluid [items]="imageSrc" imageSize="contain" autoPlay="true" thumbPosition="top">
        </gallery>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" *ngFor="let item of imageSrc; let i = index">
        <a (click)='openGallery()' [lightbox]="i" gallery="lightbox">
          <img src="{{ item.data.thumb }}" alt="">
          {{ i }}
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>