<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-in"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style='display: none;'>
      <ion-col size="12">
        {{ allPosts | async }}
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="12">
            <gallery id="basic" *ngIf="imageSrc && media$ | async; let config" [items]="imageSrc"
              [thumbWidth]="config.thumbWidth" [thumbHeight]="config.thumbHeight"
              [thumbPosition]="config.thumbPosition">
            </gallery>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row> -->
    <ion-row *ngIf="imageSrc">
      <ion-col class="pins grid">
        <div class="pin grid-item" *ngFor="let item of imageSrc; let i = index">
          <a (click)='openGallery()' [lightbox]="i" gallery="lightbox">
            <img class='grid-image' src="{{ item.data.thumb }}" alt="">
            <div>
              <small>{{ i + 1 }}</small>
            </div>
          </a>
        </div>
      </ion-col>


    </ion-row>
  </ion-grid>
</ion-content>